@use './utilities/index' as *;

:root {
	--moderate-cyan: #3cb4ac;
	--dark-cyan: #147b74;
	--black: #000000;
	--dark-gray: #7a7a7a;
}

body {
	margin-bottom: 3em;
	font-size: 16px;
	font-family: 'Commissioner', sans-serif;
	background-color: rgb(250, 250, 250);
}

.main {
	display: grid;
	row-gap: 1.5em;
	margin: 0 auto;
	margin-top: 8em;
	width: 86.7%;
}

.modal {
	@include main-boxes-style;
}




.modal-box-title {
	@include box-title;
}

.modal-box-text {
	@include box-text;
}


.modal-box-inner {
	@include box-inner;
}

.modal-select-label,
.modal-select-label-desktop {
	@include title-label;
}

.modal-select-label-span,
.modal-select-label-span-desktop {
	@include pledge-span;
}

.modal-box-inner-text,
.complete-text,
.modal-box-inner-text-desktop {
	@include text;
}

.modal-box-inner-left,
.modal-box-inner-left-desktop {
	@include inner-left;
}

.modal-box-inner-left-price,
.modal-box-inner-left-price-desktop {
	@include left-price;
}

.modal-box-inner-left-text,
.modal-box-inner-left-text-desktop {
	@include left-text;
}

.modal-box-inner-left-btn,
.complete-btn,
.modal-bottom-continue {
	@include click-btn;
}

.modal,
.complete {
	@include modal-complete;
}

.modal-box-inner-desktop {
	display: none;
}

.modal-up-box-x {
	cursor: pointer;
}

.modal-box-title {
	margin-bottom: 0;
}

.modal-up-box {
	margin-bottom: 1.7em;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: fit-content;
}

.modal-up-box-x {
	margin: auto 0;
}

.modal-select-label {
	margin: auto 0;
	display: flex;
	flex-direction: column;
	line-height: 1.7;
}

.modal-select {
	margin-bottom: 2em;
	display: flex;
	align-items: center;
	column-gap: 1em;
}

.modal-input,
.modal-input-desktop {
	@include modal-input;
}

.modal-select-label-span,
.modal-box-inner-left {
	margin-bottom: 0;
}

.modal-box-inner {
	&:nth-child(3) {
		.modal-select-label-span,
		.modal-box-inner-left {
			display: none;
		}
		.modal-box-inner-text {
			margin-bottom: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.complete {
	top: 25%;
	padding: 2.5em 1.5em;
	background-color: white;
	border-radius: 0.5em;
	text-align: center;
	z-index: 100;
}

.complete-title {
	margin: 1em 0;
}

@media (min-width: 992px) {
	.nav {
		padding: 4em 1.5em;
	}

	.nav-mobile-hamburger {
		display: none;
	}

	.nav-desktop-links {
		display: flex;
		column-gap: 3em;
	}

	.nav-desktop-link {
		color: white;
	}

	.modal {
		@include width;
	}

	.complete-btn {
		@include btn-transition;
	}





	

	

	





	.modal {
		padding: 2.5em;
	}

	.modal-select-label {
		flex-direction: row;
		column-gap: 1em;
	}

	.input-box {
		margin-right: 1em;
		width: 2em;
		height: 2em;
	}

	.modal-input-desktop {
		&:checked {
			background-color: var(--moderate-cyan);
			box-shadow: inset -0.005rem -0.005rem 0 0.45rem white;
		}
	}

	.modal-box-inner-desktop {
		margin-bottom: 1.5em;
		border-radius: 1em;
		border: 2px solid rgb(218, 218, 218);

		&:nth-child(3) {
			.modal-select-label-span-desktop,
			.modal-box-inner-left-desktop,
			.modal-bottom-wrapper {
				display: none;
			}
		}

		&:nth-child(6) {
			position: relative;
			z-index: 0;
			overflow: hidden;
			&::before {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(255, 255, 255, 0.6);
				z-index: 10;
			}

			.modal-bottom-wrapper {
				display: none;
			}
		}
	}

	.modal-box-inner-left-price-desktop {
		font-size: 1.8rem;
		height: fit-content;
	}

	.modal-up-wrapper {
		display: flex;
	}

	.modal-select-label-span-desktop,
	.modal-box-inner-left-desktop,
	.modal-select-label-desktop {
		margin-bottom: 0;
	}

	.modal-text-up,
	.modal-select-label-desktop {
		display: flex;
		justify-content: space-between;
	}

	.modal-select-label-desktop {
		column-gap: 1em;
		transition: color 0.2s;
		cursor: pointer;

		&:hover {
			color: var(--moderate-cyan);
		}
	}

	.modal-text-up {
		align-items: center;
		margin-bottom: 1em;
	}

	.modal-box-inner-text-desktop {
		margin-bottom: 0;
	}

	.modal-up-wrapper {
		padding: 1.5em;
	}

	.modal-bottom-wrapper {
		display: flex;
		padding: 1.5em;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid rgb(214, 214, 214);
	}

	.modal-bottom-label {
		color: var(--dark-gray);
		font-size: 1.5rem;
	}

	.modal-bottom-right {
		position: relative;
		display: flex;
		column-gap: 1em;
		justify-content: flex-end;

		&::before {
			content: '$';
			position: absolute;
			top: 49%;
			left: 12.2em;
			transform: translateY(-50%);
			color: var(--dark-gray);
		}
	}

	.modal-bottom-continue,
	.modal-bottom-input {
		padding: 0.8em 1.5em;
	}

	.modal-bottom-input,
	.modal-bottom-input::placeholder {
		font-weight: 500;
		color: black;
		font-size: 1.6rem;
	}

	.modal-bottom-input {
		padding-left: 2em;
		border-radius: 1.5em;
		border: 1px solid rgb(204, 204, 204);
		width: 25%;
	}



	.complete {
		top: 47%;
		width: 500px;
	}

	.modal-box-inner {
		display: none;
	}

	.modal-box-inner-desktop {
		display: block;
	}
}
