@use './utilities/index' as *;

:root {
	--moderate-cyan: #3cb4ac;
	--dark-cyan: #147b74;
	--black: #000000;
	--dark-gray: #7a7a7a;
}

body {
	margin-bottom: 3em;
	font-size: 16px;
	font-family: 'Commissioner', sans-serif;
	background-color: rgb(250, 250, 250);
}

.main {
	display: grid;
	row-gap: 1.5em;
	margin: 0 auto;
	margin-top: 8em;
	width: 86.7%;
}

.modal-box-inner {
	@include box-inner;
}

.modal-select-label {
	@include title-label;
}

.modal-select-label-span {
	@include pledge-span;
}

.modal-box-inner-text,
.complete-text {
	@include text;
}

.modal-box-inner-left {
	@include inner-left;
}

.modal-box-inner-left-price {
	@include left-price;
}

.modal-box-inner-left-text {
	@include left-text;
}

.modal-box-inner-left-btn,
.complete-btn {
	@include click-btn;
}

.complete {
	@include modal-complete;
}

.modal-box-title {
	margin-bottom: 0;
}

.modal-select-label {
	margin: auto 0;
	display: flex;
	flex-direction: column;
	line-height: 1.7;
}

.modal-select {
	margin-bottom: 2em;
	display: flex;
	align-items: center;
	column-gap: 1em;
}

.modal-input {
	@include modal-input;
}

.modal-select-label-span,
.modal-box-inner-left {
	margin-bottom: 0;
}

.modal-box-inner {
	&:nth-child(3) {
		.modal-select-label-span,
		.modal-box-inner-left {
			display: none;
		}
		.modal-box-inner-text {
			margin-bottom: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.complete {
	top: 25%;
	padding: 2.5em 1.5em;
	background-color: white;
	border-radius: 0.5em;
	text-align: center;
	z-index: 100;
}

.complete-title {
	margin: 1em 0;
}

@media (min-width: 992px) {
	.nav {
		padding: 4em 1.5em;
	}

	.nav-mobile-hamburger {
		display: none;
	}

	.nav-desktop-links {
		display: flex;
		column-gap: 3em;
	}

	.nav-desktop-link {
		color: white;
	}

	.modal {
		@include width;
	}

	.complete-btn {
		@include btn-transition;
	}

	.modal {
		padding: 2.5em;
	}

	.modal-select-label {
		flex-direction: row;
		column-gap: 1em;
	}

	.input-box {
		margin-right: 1em;
		width: 2em;
		height: 2em;
	}

	.modal-bottom-continue {
		padding: 0.8em 1.5em;
	}



	.complete {
		top: 47%;
		width: 500px;
	}

	.modal-box-inner {
		display: none;
	}
}
