@use './utilities/index' as *;

:root {
	--moderate-cyan: #3cb4ac;
	--dark-cyan: #147b74;
	--black: #000000;
	--dark-gray: #7a7a7a;
}

body {
	margin-bottom: 3em;
	font-size: 16px;
	font-family: 'Commissioner', sans-serif;
	background-color: rgb(250, 250, 250);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1150px;
}

.shadow {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 2em 1.5em;
	z-index: 100;
}

.nav-desktop-links {
	display: none;
}

.nav-mobile-menu {
	display: none;
	position: absolute;
	bottom: -225%;
	width: calc(100% - 48px);
	background-color: white;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 0.5em;
	z-index: 100;
}

.nav-mobile-menu-link {
	display: block;
	padding: 1.1em 1.5em;
	color: var(--black);
	font-weight: 500;
	font-size: 1.8rem;
	border-bottom: 1px solid rgb(231, 231, 231);
	&:last-child {
		border-bottom: none;
	}
}

.header-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: -1;
}

.main {
	display: grid;
	row-gap: 1.5em;
	margin: 0 auto;
	margin-top: 8em;
	width: 86.7%;
}

.first-box {
	display: grid;
	grid-template-rows: auto auto 1fr;
	place-items: center;
	z-index: 10;
}

.first-box-content,
.second-box,
.last-box,
.modal {
	padding: 1.5em;
	background-color: white;
	border-radius: 0.5em;
	border: 1px solid rgb(231, 231, 231);
}

.first-logo {
	grid-column: 1;
	grid-row: 1/3;
	z-index: 1;
}

.first-box-content {
	padding-top: 3em;
	grid-column: 1;
	grid-row: 2/4;

	text-align: center;
}

.first-title {
	margin-bottom: 1em;
	font-size: 2.1rem;
}

.first-text {
	margin-bottom: 1.8em;
	font-size: 1.35rem;
	line-height: 1.8;
	color: var(--dark-gray);
}

.btns {
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.first-btn {
	width: 75%;
	background-color: var(--moderate-cyan);
	border-radius: 4em;
	color: white;
	font-weight: 500;
	font-size: 1.6rem;
}

.second-box {
	text-align: center;
}

.second-box-content {
	margin-bottom: 1.5em;

	&:nth-child(3) {
		.second-box-content-line {
			display: none;
		}
	}
}

.second-box-content-price {
	margin-bottom: 0.3em;
	font-size: 3rem;
	font-weight: 700;
}

.second-box-content-text {
	margin-bottom: 1.7em;
	font-size: 1.3rem;
	color: var(--dark-gray);
}

.second-box-content-line {
	margin: 0 auto;
	height: 1px;
	width: 30%;
	background-color: rgb(216, 216, 216);
}

.second-box-line {
	position: relative;
	padding: 0.5em;
	background-color: whitesmoke;
	border-radius: 1em;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 75%;
		height: 100%;
		background-color: var(--moderate-cyan);
		border-radius: 1em;
	}
}

.last-box-title,
.modal-box-title {
	margin-bottom: 1.5em;
	font-size: 1.8rem;
	text-align: left;
}

.last-box-text,
.modal-box-text {
	margin-bottom: 2em;
	color: var(--dark-gray);
	font-size: 1.355rem;
	line-height: 1.9;
}

.last-box-inner,
.modal-box-inner {
	margin-bottom: 1.6em;
	padding: 1.5em;
	border: 1px solid rgb(222, 222, 222);
	border-radius: 0.5em;
	&:last-child {
		margin-bottom: 0;
		position: relative;
		z-index: 0;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.6);
			z-index: 10;
		}
		.last-box-inner-left-btn {
			background-color: rgb(182, 182, 182);
		}
	}
}

.last-box-inner-title,
.modal-select-label {
	margin-bottom: 0.8em;
	font-size: 1.4rem;
	font-weight: bolder;
}

.last-box-inner-pledge,
.modal-select-label-span {
	margin-bottom: 1.7em;
	color: var(--moderate-cyan);
	font-size: 1.4rem;
	font-weight: 700;
}

.last-box-inner-text,
.modal-box-inner-text,
.complete-text {
	margin-bottom: 2em;
	color: var(--dark-gray);
	font-size: 1.36rem;
	line-height: 1.7;
	font-weight: 500;
}

.last-box-inner-left,
.modal-box-inner-left {
	margin-bottom: 1.7em;
	display: flex;
	align-items: center;
	column-gap: 0.6em;
}

.last-box-inner-left-price,
.modal-box-inner-left-price {
	font-size: 3rem;
	font-weight: 700;
}

.last-box-inner-left-text,
.modal-box-inner-left-text {
	color: var(--dark-gray);
	font-size: 1.4rem;
	font-weight: 500;
}

.last-box-inner-left-btn,
.modal-box-inner-left-btn,
.complete-btn {
	padding: 1em 2em;
	background-color: var(--moderate-cyan);
	color: white;
	font-size: 1.6rem;
	font-weight: 500;
	border-radius: 2em;
}

.modal,
.complete {
	display: none;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 86.7%;
	z-index: 100;
}

.modal-up-box-x {
	cursor: pointer;
}

.modal-box-title {
	margin-bottom: 0;
}

.modal-up-box {
	margin-bottom: 1.7em;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: fit-content;
}

.modal-up-box-x {
	margin: auto 0;
}

.modal-select-label {
	margin: auto 0;
	display: flex;
	flex-direction: column;
	line-height: 1.7;
}

.modal-select {
	margin-bottom: 2em;
	display: flex;
	align-items: center;
	column-gap: 1em;
}

.modal-input {
	display: inline-block;
	appearance: none;
	width: 1.7em;
	height: 1.7em;
	color: rgb(222, 222, 222);
	border: 0.1em solid rgb(222, 222, 222);
	border-radius: 50%;
	transform: translateY(0.125rem);
	cursor: pointer;

	&:checked {
		background-color: rgb(222, 222, 222);
		box-shadow: inset -0.005rem -0.005rem 0 0.3rem white;
	}
}

.modal-select-label-span,
.modal-box-inner-left {
	margin-bottom: 0;
}

.modal-box-inner {
	&:nth-child(3) {
		.modal-select-label-span,
		.modal-box-inner-left {
			display: none;
		}
		.modal-box-inner-text {
			margin-bottom: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.complete {
	top: 25%;
	padding: 2.5em 1.5em;
	background-color: white;
	border-radius: 0.5em;
	text-align: center;
	z-index: 100;
}

.complete-title {
	margin: 1em 0;
}

@media (min-width: 992px) {
	.nav {
		padding: 4em 1.5em;
	}

	.nav-mobile-hamburger {
		display: none;
	}

	.nav-desktop-links {
		display: flex;
		column-gap: 3em;
	}

	.nav-desktop-link {
		color: white;
	}

	.header-shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 27.78vw;
		background: rgb(0, 0, 0);
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5452381636248249) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		z-index: 1;
	}
}

// - Mobile: 375px
// - Desktop: 1440px

// - Family: [Commissioner](https://fonts.google.com/specimen/Commissioner)
// - Weights: 400, 500, 700
