@use '../../../sass/utilities/index' as *;

.last-box {
	@include main-boxes-style;
}

.last-box-title {
	@include box-title;
}

.last-box-text {
	@include box-text;
}

.last-box-inner {
	@include box-inner;
}

.last-box-up-wrapper {
	@include box-wrapper;
	flex-direction: column;
	align-items: flex-start;
}

.last-box-inner-title {
	@include title-label;
}

.last-box-inner-pledge {
	@include pledge-span;
}

.last-box-inner-text {
	@include text;
}

.last-box-inner-left {
	@include inner-left;
}

.last-box-inner-left-price {
	@include left-price;
}

.last-box-inner-left-text {
	@include left-text;
}

.last-box-inner-left-btn {
	@include click-btn;
}

@media (min-width: 992px) {
	.last-box {
		@include width;
	}
	.last-box-down-wrapper {
		@include box-wrapper;
	}
	.last-box-inner-left {
		margin-bottom: 0;
	}
	.last-box-inner-left-btn {
		@include btn-transition;
		transition: color 0.2s, background-color 0.2s;
	}
}
