@use '../../../sass/utilities/index' as *;

.second-box {
	@include main-boxes-style;
}

.second-box {
	text-align: center;
}
.second-box-content {
	margin-bottom: 1.5em;

	&:nth-child(3) {
		.second-box-content-line {
			display: none;
		}
	}
}

.second-box-content-price {
	margin-bottom: 0.3em;
	font-size: 3rem;
	font-weight: 700;
}

.second-box-content-text {
	margin-bottom: 1.7em;
	font-size: 1.3rem;
	color: var(--dark-gray);
}

.second-box-content-line {
	margin: 0 auto;
	height: 1px;
	width: 30%;
	background-color: rgb(216, 216, 216);
}

.second-box-line {
	position: relative;
	padding: 0.5em;
	padding-top: 0.3em;
	background-color: whitesmoke;
	border-radius: 1em;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 75%;
		height: 100%;
		background-color: var(--moderate-cyan);
		border-radius: 1em;
	}
}

@media (min-width: 992px) {
	.second-box {
		@include width;
		padding: 3em;
	}
	.second-box-wrapper {
		display: flex;
		column-gap: 1em;
	}
	.second-box-content {
		padding-right: 3em;
		border-right: 1px solid rgb(211, 211, 211);
		text-align: left;

		&:nth-child(2) {
			padding-left: 1.5em;
			padding-right: 3em;
		}

		&:nth-child(3) {
			padding-left: 1.5em;
			border-right: none;
		}
	}
	.second-box-content-text {
		margin-bottom: 0;
	}
	.second-box-content-line {
		display: none;
	}
	.second-box-line {
		margin-top: 1em;
		&::before {
			width: 85%;
		}
	}
}
