@use '../../../sass/utilities/index' as *;

.modal-select {
    // display: none;
	position: absolute;
	top: 20%;
	width: 87%;
	padding: 1.5em;
	background-color: white;
	border-radius: 0.5em;
	z-index: 10;
}

.modal-select-box-inner {
	margin-bottom: 1.5em;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 0.5em;

	&:nth-child(3) {
		.modal-bottom-wrapper,
		.modal-box-inner-left-desktop,
		.modal-select-label-span {
			display: none;
		}
	}

	&:last-child,
	&:nth-child(3) {
		.modal-bottom-wrapper {
			display: none;
		}
	}

	&:last-child {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.6);
		}
	}
}



.modal-select-up-box {
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-select-box-title {
	font-size: 1.9rem;
}

.modal-select-top-input {
	appearance: none;
	background-color: none;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	color: rgb(223, 223, 223);
	font: inherit;
	border: 0.11em solid currentColor;
	border-radius: 50%;
	cursor: pointer;

	&:checked {
		background-color: $moderate-cyan;
		box-shadow: inset -0.005rem -0.005rem 0 0.4rem white;
	}
}

.modal-select-box-text {
	margin-bottom: 1.2em;
	color: $dark-gray;
	font-size: 1.4rem;
	line-height: 1.7;
}

.modal-up-wrapper {
	padding: 1.5em;
}

.modal-text-up {
	font-weight: 600;
}

.modal-select-label {
	display: flex;
	flex-direction: column;
	row-gap: 0.5em;
	font-size: 1.5rem;
}

.modal-select-label-span {
	color: $moderate-cyan;
}

.modal-box-inner-text-desktop {
	margin-top: 1em;
	color: $dark-gray;
	font-size: 1.4rem;
	line-height: 1.6;
}

.modal-box-inner-left-desktop {
	margin: 1.3em 0 0.7em;
	display: flex;
	align-items: center;
	column-gap: 0.5em;
}

.modal-box-inner-left-price-desktop {
	font-size: 2.2rem;
	font-weight: bold;
}

.modal-box-inner-left-text-desktop {
	font-size: 1.4rem;
	color: $dark-gray;
}

.modal-bottom-wrapper {
	padding: 1.5em;
	border-top: 1px solid rgb(223, 223, 223);
}

.modal-bottom-label {
	display: block;
	margin-bottom: 1em;
	text-align: center;
	color: $dark-gray;
	font-size: 1.5rem;
}

.modal-bottom-right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1.5em;
}

.input-box2 {
	display: grid;
	grid-template-columns: 1px auto;
	place-items: center;
	column-gap: .5em;
	width: 80%;
	padding: 0.9em 2em;
	border-radius: 2em;
	border: 1px solid rgb(223, 223, 223);
}

.input-box2-border {
	border: 1px solid $moderate-cyan;
}

.modal-bottom-input {
	text-align: center;
	background: none;
	border: none;
	// min-width: 1.875em;
	// max-width: 6.25em;
	width: 100%;
	display: inline-block;
	z-index: 200;
	outline: none;

	&::placeholder {
		font-weight: bold;
		color: black;
		font-size: 1.7rem;
	}
}

.modal-bottom-continue {
	margin: 0 auto;
	grid-column: 2/3;
	grid-row: 1/2;
	@include click-btn;
	padding: 1em 1.6em;
	max-width: 7.5em;
}

.input-dollar {

	font-weight: bold;
	color: $dark-gray;
}

.box {
	display: flex;
	align-items: center;
	column-gap: 1em;
}

.green-box {
	border: 1px solid $moderate-cyan;
}

.none {
    display: none;
}

.block {
    display: block;
}

@media (min-width: 992px) {
	.modal-select {
		max-width: 44.43em;
	}

	.modal-select-label {
		cursor: pointer;
		transition: color 0.2s;

		&:hover {
			color: $moderate-cyan;
		}
	}

	.modal-up-wrapper {
		display: grid;
		grid-template-columns: auto auto;
		grid-row: auto auto;
	}

	.box {
		grid-column: 1/2;
		grid-row: 1/2;
		height: fit-content;
	}

	.modal-box-inner-left-desktop {
		grid-column: 2/3;
		grid-row: 1/2;
		margin: auto 0;
	}

	.modal-select-box-inner {
		&:nth-child(3) {
			.box {
				grid-column: 1/-1;
			}
		}
	}

	.input-box2 {
		padding: 0.9em 1.2em;
		column-gap: 0;
	}

	.modal-bottom-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.modal-bottom-right {
		margin-top: 0;
	}

	.modal-bottom-label {
		margin-bottom: 0;
	}

	.modal-bottom-input {
		padding: 0.1em 0.5em;
		width: 3.125em;
	}
}
