@use '../../../sass/utilities/index' as *;

.modal {
	@include main-boxes-style;
	@include modal-complete;
	display: block;
}

.modal-up-box {
	margin-bottom: 1.7em;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: fit-content;
}

.modal-box-title {
	@include box-title;
	margin-bottom: 0;
}

.modal-up-box-x {
	margin: auto 0;
	cursor: pointer;
}

.modal-box-text {
	@include box-text;
}

.modal-box-inner-desktop {
	display: none;
}

.modal-input-desktop {
	@include modal-input;
}

.modal-select-label-desktop {
	@include title-label;
}

.modal-select-label-span-desktop {
	@include pledge-span;
}

.modal-box-inner-left-desktop {
	@include inner-left;
}

.modal-box-inner-left-price-desktop {
	@include left-price;
}

.modal-box-inner-left-text-desktop {
	@include left-text;
}

.modal-bottom-continue {
	@include click-btn;
    @include btn-transition;
}

.modal-box-inner-desktop {
    display: block;
}

@media (min-width: 992px) {
	.modal-box-inner-desktop {
		display: block;
	}
	.modal-box-inner-desktop {
		margin-bottom: 1.5em;
		border-radius: 1em;
		border: 2px solid rgb(218, 218, 218);

		&:nth-child(3) {
			.modal-select-label-span-desktop,
			.modal-box-inner-left-desktop,
			.modal-bottom-wrapper {
				display: none;
			}
		}

		&:nth-child(6) {
            margin-bottom: 0;
			position: relative;
			z-index: 0;
			overflow: hidden;
			&::before {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(255, 255, 255, 0.6);
				z-index: 10;
			}

			.modal-bottom-wrapper {
				display: none;
			}
		}
	}

	.modal-up-wrapper {
		display: flex;
		padding: 1.5em;
	}

	.modal-input-desktop {
		&:checked {
			background-color: var(--moderate-cyan);
			box-shadow: inset -0.005rem -0.005rem 0 0.45rem white;
		}
	}

	.modal-text-up {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;
	}

	.modal-select-label-desktop {
		display: flex;
		justify-content: space-between;
		column-gap: 1em;
		margin-bottom: 0;
		transition: color 0.2s;
		cursor: pointer;

		&:hover {
			color: var(--moderate-cyan);
		}
	}

	.modal-select-label-span-desktop {
		margin-bottom: 0;
	}

	.modal-box-inner-left-price-desktop {
		font-size: 1.8rem;
		height: fit-content;
	}

	.modal-box-inner-text-desktop {
		margin-bottom: 0;
	}

	.modal-box-inner-text-desktop {
		@include text;
	}

	.modal-bottom-wrapper {
		display: flex;
		padding: 1.5em;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid rgb(214, 214, 214);
	}

	.modal-bottom-label {
		color: var(--dark-gray);
		font-size: 1.5rem;
	}

	.modal-bottom-right {
		position: relative;
		display: flex;
		column-gap: 1em;
		justify-content: flex-end;

		&::before {
			content: '$';
			position: absolute;
			top: 49%;
			left: 12.2em;
			transform: translateY(-50%);
			color: var(--dark-gray);
		}
	}

	.modal-bottom-input,
	.modal-bottom-input::placeholder {
		font-weight: 500;
		color: black;
		font-size: 1.6rem;
	}

	.modal-bottom-input {
		padding: 0.8em 1.5em;
		padding-left: 2em;
		border-radius: 1.5em;
		border: 1px solid rgb(204, 204, 204);
		width: 25%;
	}
}
