$moderate-cyan: #3cb4ac;
$dark-cyan: #147b74;
$black: #000000;
$dark-gray: #7a7a7a;


	// const requiredPledge =
	// 		modalSelectData.find(item => item.inputId === inputId)?.pledge || 0
	// 	if (pledgePrice[inputId] < requiredPledge) {
	// 		alert(`The pledge must be at least $${requiredPledge}`)
	// 		return
	// 	}


    										// 	: pledgePrice[inputId] <
											//   (modalSelectData.find(
											// 		item => item.inputId === inputId
											//   )?.pledge || 0)